<form>
    <button ng-click="form.add()">{{name}}</button>
    <div ng-repeat="field in form.fields">
        <label>
            <span>{{field.id}}</span>
            <input type="{{field.type}}" name="{{field.name}}" ng-model="field.value" />
            <span ng-click="form.remove($index)">REMOVE</span>
        </label>
    </div>
    {{form.fields}}
    <ng-transclude></ng-transclude>
</form>